
html{
    background-color: #1C1C1C;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face{
    font-family: "Varela Round";
    src: url("../font/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Thin.ttf");
}

@media screen and (min-width: 1600px){
    @viewport{
    }
}

#random-button{
    font-family: 'Varela Round';
    font-size: 25px;
    text-align: center;
    width:400px;
    height:80px;
    border-radius: 10px;
    border:2px solid white;
    outline: none;
    margin-bottom: 250px;
    transition: transform .2s;
    cursor: pointer;
}


#random-button:hover{
    transform: scale(1.02);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
}

.BigTitle{
    font-family: 'Varela Round';
    font-size: 100px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.smallerTitle{
    font-family: 'Varela Round';
    font-style: italic;
    color: grey;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.suggestions{
    font-family: 'Anonymous Pro', monospace;
    outline: none;
    background: none;
    border:none;
    color: lightgrey;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    cursor:pointer;
}

.GH{
    cursor: pointer;
    position: relative;
    bottom: 25px;
    left: -50px;
    border:none;
    outline: none;
    background-color: none;
    background:none;
    filter: brightness(150%);
    transition: filter .1s;
}

.GH:hover{
    filter:brightness(200%);
}

.creditsanddate{
    font-family: 'Roboto';    
    color: grey;
    font-size: 15px;
    position: relative;
    top: -25px;
    left: -20px;
    text-align: center;
    display: grid;
    justify-content: center;
}
